@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
	--dark-color-a: #F69D5C;
	--dark-color-b: #F69D5C;
	--light-color: #e9e4e1;
	--success-color: #5cb85c;
	--error-color: #d9534f;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	background: #e9e4e1;	
	margin: 20px;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.form-control{
	display:flex;
	align-items: flex-end;
}


.form-control label{
	font-weight: bold;
	margin-right: 10px;
}

#username-label{
	margin-left: 25px;
}

.btn {
	cursor: pointer;
	padding: 5px 15px;
	background:#89CCF2;
	color: white;
	border: 0;
	font-size: 17px;
	font-weight: bold;
}

.join-container {
	max-width: 500px;
	margin: 80px auto;
	color: #fff;
}

.join-header {
	text-align: center;
	padding: 20px;
	background: var(--dark-color-a);
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.join-main {
	padding: 30px 40px;
	background: var(--dark-color-b);
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}

.join-main p {
	margin-bottom: 20px;
}

.join-main .form-control {
	margin-bottom: 20px;
}

.join-main label {
	display: block;
	margin-bottom: 5px;
}

.join-main input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.join-main select {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.join-main .btn {
	margin-top: 20px;
	width: 100%;
}

